@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
.prevent__cards__head {
    text-align: center;
    font-family: "Montserrat";
    font-weight: 700;
    margin: 4%;
    margin-bottom: 0;
    font-size: 50px;
}

.prevent__banner {
    background-image: url('./33.jpg');
    padding: 18%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    padding-top: 0;
    padding: 2%;
}

.card {
    font-family: "Montserrat";
    font-weight: 400;
    outline: none;
    border: none;
}

.card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-title {
    font-weight: 600;
}